<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBMS_Project.Properties.Settings.QuanLyChuyenBayConnectionString"
            connectionString="Data Source=LAPTOP-4U0DKBNK;Initial Catalog=QuanLyChuyenBay;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>


<!--data source (Hung) = LAPTOP-4U0DKBNK-->